@media only screen and (min-width: 1440px) {/* 1920 */
    
    
   /* GRID */
   	.large-0 {width: 0%}
    .large-1 {width: 8%;}
	.large-2 {width: 16.66%;}
    .large-3 {width: 25%;}
    .large-4 {width: 33.333333%;}
	.large-5 {width: 41.666666%;}
	.large-6 {width: 50%;}
	.large-7 {width: 58.333333%;}
	.large-8 {width: 66.666666%;}
	
	
	.large-4-img{flex:33.333333%;}
	.large-6-img{flex:50%;}
	.large-7-img{flex:58.333333%;}
	.large-8-img{flex:66.666666%;}
	
    
	.img-large-remove{
		display: flex;	
	}
	
	.img-medium-large-remove{
		display: none;	
	}
	
	.column-no-pad {
		float: left;  
		padding-left: 0;
		padding-right: 0;
		margin: 0 0 0 0;
	}
	
	.img-txt-container-header {
		display: flex;
		align-items: center;
		justify-content:center;
		flex-direction: row;
		padding-left:0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		height:50vw;
	}
	
	.header-img-med {
		background-image: url('../images/Header_image_2.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
		border-radius: 10px;
		height:40vw;
	}

	.img-txt-container {
		display: flex;
		align-items: center;
		justify-content: start;
		flex-direction: row;
		height: 10vw;
	}
	
	.why-invest-med {
		background-image: url('../images/Why_invest.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
		height:40vw;
		margin-left: 5vw;
		margin-right: 5vw;
		border-radius: 10px 10px 10px 10px;
	}
	
	.why-fund-med {
		background-image: url('../images/Why_fundraise.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
		height:40vw;
		margin-left: 5vw;
		margin-right: 5vw;
		border-radius: 10px 10px 10px 10px;
	}
	
	header{
		font-size: 24px;
		font-weight: 700;
		background-image: url('../images/Header_background_Corner.jpg');
		background-attachment: scroll;
		background-repeat: no-repeat; 
		background-size: contain;
		color: #FFFFFF;
		height:60vw;
	}
	
	
    header h1{
		font-size: 36px;
		line-height: 54px;
		font-weight:700;
	}

	main h1{
		font-size: 64px;
		line-height: 76px;
		font-weight:700;
	}
	
	main h2{
		font-size: 48px;
		line-height: 64px;
		font-weight:700;
	}
	
	main h3{
		font-size: 24px;
		line-height: 32px;
		font-weight:700;
}

.label-for-check{
font-size: 24px;
line-height:36px;
font-weight:700;
background-color: #0B3651;
border: none;
color: #FFFFFF;
z-index:2;
}

.container-geo {
		display: flex;
		align-items: center;
		justify-content: left;
		flex-direction: row;
		padding-top:40px;
		padding-bottom:50px;
		padding-left:3vw;
	}
    
} /* end of media query */