* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v132_590 {
  width: 100%;
  height: 4198px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_591 {
  width: 100%;
  height: 3020px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 413px;
  left: 136px;
  overflow: hidden;
}
.v132_592 {
  width: 100%;
  height: 1369px;
  background: url("../images/v132_592.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.10000000149011612;
  position: absolute;
  top: 3020px;
  left: 1271px;
  transform: rotate(-127deg);
  overflow: hidden;
}
.v132_593 {
  width: 270px;
  height: 100%;
  background: url("../images/v132_593.png");
  opacity: 1;
  position: absolute;
  top: 629px;
  left: 444px;
  border: 1px solid rgba(11,54,81,1);
  transform: rotate(-133deg);
}
.v132_594 {
  width: 269px;
  height: 816px;
  background: url("../images/v132_594.png");
  opacity: 1;
  position: absolute;
  top: 977px;
  left: 468px;
  border: 1px solid rgba(11,54,81,1);
  transform: rotate(-133deg);
}
.v132_595 {
  width: 269px;
  height: 816px;
  background: url("../images/v132_595.png");
  opacity: 1;
  position: absolute;
  top: 519px;
  left: 30px;
  border: 1px solid rgba(11,54,81,1);
  transform: rotate(-133deg);
}
.v132_596 {
  width: 306px;
  height: 246px;
  background: url("../images/v132_596.png");
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 591px;
  border: 1px solid rgba(11,54,81,1);
  transform: rotate(-173deg);
}
.v132_597 {
  width: 306px;
  height: 246px;
  background: url("../images/v132_597.png");
  opacity: 1;
  position: absolute;
  top: 1398px;
  left: 289px;
  border: 1px solid rgba(11,54,81,1);
  transform: rotate(-173deg);
}
.v132_598 {
  width: 361px;
  height: 436px;
  background: url("../images/v132_598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.10000000149011612;
  position: absolute;
  top: 2582px;
  left: 219px;
  transform: rotate(-127deg);
  overflow: hidden;
}
.v132_599 {
  width: 139px;
  height: 423px;
  background: url("../images/v132_599.png");
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 124px;
  border: 1px solid rgba(11,54,81,1);
  transform: rotate(-133deg);
}
.v132_600 {
  width: 158px;
  height: 127px;
  background: url("../images/v132_600.png");
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 198px;
  border: 1px solid rgba(11,54,81,1);
  transform: rotate(-173deg);
}
.v132_601 {
  width: 307px;
  height: 359px;
  background: url("../images/v132_601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.10000000149011612;
  position: absolute;
  top: 0px;
  left: 1487px;
  overflow: hidden;
}
.v132_602 {
  width: 118px;
  height: 348px;
  background: url("../images/v132_602.png");
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 115px;
  border: 1px solid rgba(11,54,81,1);
}
.v132_603 {
  width: 132px;
  height: 106px;
  background: url("../images/v132_603.png");
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 156px;
  border: 1px solid rgba(11,54,81,1);
}
.v132_604 {
  width: 100%;
  height: 281px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3917px;
  left: 0px;
  overflow: hidden;
}
.v132_605 {
  width: 100%;
  height: 281px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_606 {
  width: 116px;
  color: rgba(49,56,59,1);
  position: absolute;
  top: 227px;
  left: 734px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.699999988079071;
  text-align: right;
}
.v132_607 {
  width: 100%;
  height: 1px;
  background: rgba(215,215,215,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 107px;
  border: 1px solid rgba(38,44,46,0.10999999940395355);
}
.v132_608 {
  width: 100%;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 107px;
  overflow: hidden;
}
.v132_609 {
  width: 106px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1270px;
  overflow: hidden;
}
.v132_610 {
  width: 10px;
  height: 20px;
  background: url("../images/v132_610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_611 {
  width: 10px;
  height: 20px;
  background: rgba(49,56,59,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_612 {
  width: 19px;
  height: 16px;
  background: url("../images/v132_612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 37px;
  overflow: hidden;
}
.v132_613 {
  width: 19px;
  height: 16px;
  background: rgba(49,56,59,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_614 {
  width: 20px;
  height: 20px;
  background: url("../images/v132_614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 86px;
  overflow: hidden;
}
.v132_615 {
  width: 20px;
  height: 20px;
  background: url("../images/v132_615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(49,56,59,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v132_616 {
  width: 8px;
  height: 8px;
  background: url("../images/v132_616.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 6px;
  border: 2px solid rgba(49,56,59,1);
}
.v132_617 {
  width: 1px;
  height: 1px;
  background: url("../images/v132_617.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 15px;
  border: 2px solid rgba(49,56,59,1);
}
.v132_618 {
  width: 540px;
  height: 24px;
  background: rgba(255,255,255,1);
  margin: 75px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 635px;
  overflow: hidden;
}
.v132_619 {
  width: 44px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v132_620 {
  width: 69px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_621 {
  width: 90px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 0px;
  left: 264px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_622 {
  width: 110px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 0px;
  left: 429px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_623 {
  width: 177px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_624 {
  width: 126px;
  height: 35px;
  background: rgba(79,79,79,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 50px;
}
.v132_625 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_626 {
  width: 38px;
  height: 38px;
  background: url("../images/v132_626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_627 {
  width: 8px;
  height: 38px;
  background: linear-gradient(rgba(157,215,155,1), rgba(65,164,159,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
}
.v132_628 {
  width: 8px;
  height: 23px;
  background: linear-gradient(rgba(157,215,155,1), rgba(65,164,159,1));
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 30px;
}
.v132_629 {
  width: 8px;
  height: 23px;
  background: linear-gradient(rgba(157,215,155,1), rgba(65,164,159,1));
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 10px;
}
.v132_630 {
  width: 8px;
  height: 8px;
  background: linear-gradient(rgba(206,52,34,1), rgba(255,145,132,1));
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
}
.v132_631 {
  width: 100%;
  height: 528px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2533px;
  left: 0px;
  overflow: hidden;
}
.v132_632 {
  width: 100%;
  height: 528px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_633 {
  width: 810px;
  height: 96px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 316px;
  left: 696px;
  overflow: hidden;
}
.v132_634 {
  width: 100%;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 259px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_635 {
  width: 675px;
  height: 189px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 102px;
  overflow: hidden;
}
.v132_636 {
  width: 858px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 93px;
  left: 0px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v132_637 {
  width: 310px;
  color: rgba(79,79,79,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Raleway;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v132_638 {
  width: 100%;
  height: 664px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1794px;
  left: 0px;
  overflow: hidden;
}
.v132_639 {
  width: 100%;
  height: 829px;
  background: rgba(11,54,81,1);
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 0px;
  overflow: hidden;
}
.v132_640 {
  width: 689px;
  height: 574px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 790px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v132_641 {
  width: 449px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 39px;
  left: 1032px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v132_643 {
  width: 580px;
  height: 324px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 901px;
  overflow: hidden;
}
.v132_644 {
  width: 283px;
  height: 144px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 297px;
  overflow: hidden;
}
.v132_645 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_646 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_647 {
  width: 33px;
  height: 33px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_648 {
  width: 226px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_649 {
  width: 268px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 0px;
  overflow: hidden;
}
.v132_650 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_651 {
  width: 35px;
  height: 35px;
  background: url("../images/v132_651.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_652 {
  width: 26px;
  height: 32px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
}
.v132_653 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 51px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_654 {
  width: 215px;
  height: 144px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
  overflow: hidden;
}
.v132_655 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_656 {
  width: 26px;
  height: 26px;
  background: url("../images/v132_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v132_657 {
  width: 26px;
  height: 26px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_658 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 51px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_659 {
  width: 269px;
  height: 120px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 304px;
  overflow: hidden;
}
.v132_660 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_661 {
  width: 11px;
  height: 11px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
}
.v132_662 {
  width: 32px;
  height: 27px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v132_663 {
  width: 35px;
  height: 35px;
  background: url("../images/v132_663.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_664 {
  width: 212px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_665 {
  width: 100%;
  height: 699px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 916px;
  left: 0px;
  overflow: hidden;
}
.v132_666 {
  width: 689px;
  height: 574px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 802px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v132_667 {
  width: 561px;
  height: 396px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 100px;
  overflow: hidden;
}
.v132_668 {
  width: 248px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 314px;
  overflow: hidden;
}
.v132_669 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_670 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_671 {
  width: 30px;
  height: 30px;
  background: url("../images/v132_671.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_672 {
  width: 25px;
  height: 23px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v132_673 {
  width: 195px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 0px;
  left: 53px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_674 {
  width: 248px;
  height: 96px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 314px;
  overflow: hidden;
}
.v132_675 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_676 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_677 {
  width: 22px;
  height: 22px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v132_678 {
  width: 195px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 0px;
  left: 53px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_679 {
  width: 276px;
  height: 96px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 3px;
  overflow: hidden;
}
.v132_680 {
  width: 42px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.v132_681 {
  width: 35px;
  height: 35px;
  background: url("../images/v132_681.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_682 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 7px;
  overflow: hidden;
}
.v132_683 {
  width: 30px;
  height: 30px;
  background: url("../images/v132_683.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_684 {
  width: 25px;
  height: 25px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v132_685 {
  width: 217px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 0px;
  left: 59px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_686 {
  width: 275px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 3px;
  overflow: hidden;
}
.v132_687 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_688 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_689 {
  width: 28px;
  height: 28px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v132_690 {
  width: 217px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 0px;
  left: 58px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_691 {
  width: 223px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v132_692 {
  width: 35px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_693 {
  width: 17px;
  height: 29px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 8px;
}
.v132_694 {
  width: 164px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 0px;
  left: 59px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_695 {
  width: 234px;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 314px;
  overflow: hidden;
}
.v132_696 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_697 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_698 {
  width: 22px;
  height: 22px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v132_699 {
  width: 181px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 0px;
  left: 53px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_700 {
  width: 377px;
  color: rgba(79,79,79,1);
  position: absolute;
  top: 64px;
  left: 104px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v132_702 {
  width: 100%;
  height: 840px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_703 {
  width: 100%;
  height: 840px;
  background: url("../images/v132_703.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_704 {
  width: 100%;
  height: 840px;
  background: rgba(84,127,243,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v132_705 {
  width: 100%;
  height: 849px;
  background: url("../images/v132_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1343px;
  overflow: hidden;
}
.v132_706 {
  width: 100%;
  height: 840px;
  background: linear-gradient(rgba(11,54,81,1), rgba(11,54,81,0));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_708 {
  width: 569px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 326px;
  left: 100px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v132_709 {
  width: 100%;
  height: 113px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_710 {
  width: 100%;
  height: 113px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v132_712 {
  width: 769px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 360px;
  overflow: hidden;
}
.v132_713 {
  width: 473px;
  height: 24px;
  background: url("../images/v132_713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 102px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 214px;
  overflow: hidden;
}
.v132_716 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_717 {
  width: 90px;
  height: 24px;
  background: url("../images/v132_717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 171px;
  overflow: hidden;
}
.v132_718 {
  width: 90px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_719 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 363px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_722 {
  width: 177px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 100px;
  overflow: hidden;
}
.v132_723 {
  width: 126px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 50px;
}
.v132_724 {
  width: 38px;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_725 {
  width: 38px;
  height: 38px;
  background: url("../images/v132_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_726 {
  width: 8px;
  height: 38px;
  background: linear-gradient(rgba(157,215,155,1), rgba(65,164,159,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
}
.v132_727 {
  width: 8px;
  height: 23px;
  background: linear-gradient(rgba(157,215,155,1), rgba(65,164,159,1));
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 30px;
}
.v132_728 {
  width: 8px;
  height: 23px;
  background: linear-gradient(rgba(157,215,155,1), rgba(65,164,159,1));
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 10px;
}
.v132_729 {
  width: 8px;
  height: 8px;
  background: linear-gradient(rgba(206,52,34,1), rgba(255,145,132,1));
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 0px;
}
.v244_76 {
  width: 689px;
  height: 568px;
  background: url("../images/v244_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 802px;
  overflow: hidden;
}
.v244_77 {
  width: 689px;
  height: 568px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v244_78 {
  width: 100%;
  height: 595px;
  background: url("../images/v244_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 343px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v132_732 {
  width: 100%;
  height: 855px;
  background: rgba(11,54,81,1);
  opacity: 1;
  position: absolute;
  top: 3062px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v132_734 {
  width: 783px;
  height: 176px;
  background: url("../images/v132_734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 703px;
  overflow: hidden;
}
.v132_735 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_736 {
  width: 783px;
  height: 136px;
  background: url("../images/v132_736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v132_737 {
  width: 783px;
  height: 136px;
  background: rgba(250,251,251,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(113,202,170,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v132_738 {
  width: 230px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 17px;
  left: 18px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_739 {
  width: 783px;
  height: 96px;
  background: url("../images/v132_739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 703px;
  overflow: hidden;
}
.v132_740 {
  width: 413px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_741 {
  width: 783px;
  height: 56px;
  background: url("../images/v132_741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v132_742 {
  width: 783px;
  height: 56px;
  background: rgba(250,251,251,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(113,202,170,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v132_743 {
  width: 601px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 17px;
  left: 18px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_744 {
  width: 296px;
  color: rgba(255,255,255,0.30000001192092896);
  position: absolute;
  top: 354px;
  left: 110px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v132_745 {
  width: 308px;
  height: 43px;
  background: url("../images/v132_745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 110px;
  overflow: hidden;
}
.v132_746 {
  width: 296px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 12px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v132_747 {
  width: 4px;
  height: 43px;
  background: rgba(113,202,170,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_748 {
  width: 442px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 124px;
  left: 703px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v132_749 {
  width: 400px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 114px;
  left: 110px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v132_750 {
  width: 785px;
  height: 49px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 217px;
  left: 703px;
  overflow: hidden;
}
.v132_751 {
  width: 784px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v132_752 {
  width: 781px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v132_753 {
  width: 781px;
  height: 48px;
  background: rgba(36,38,50,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  overflow: hidden;
}
.v132_754 {
  width: 0px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v132_756 {
  width: 0px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 260px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v132_758 {
  width: 0px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 520px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v132_760 {
  width: 0px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 781px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v132_764 {
  width: 374px;
  height: 17px;
  background: rgba(36,38,50,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 411px;
  overflow: hidden;
}
.v132_765 {
  width: 374px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_766 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v132_767 {
  width: 16px;
  height: 16px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v132_768 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 358px;
  overflow: hidden;
}
.v132_769 {
  width: 16px;
  height: 16px;
  background: rgba(113,203,171,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v132_770 {
  width: 782px;
  height: 18px;
  background: rgba(255,255,255,1);
  margin: 187px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 1px;
  overflow: hidden;
}
.v132_771 {
  width: 783px;
  height: 18px;
  background: rgba(36,38,50,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 1px;
  overflow: hidden;
}
.v132_772 {
  width: 10px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v132_773 {
  width: 9px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v132_774 {
  width: 41px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 233px;
  overflow: hidden;
}
.v132_775 {
  width: 37px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v132_776 {
  width: 50px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 489px;
  overflow: hidden;
}
.v132_777 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v132_778 {
  width: 47px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 735px;
  overflow: hidden;
}
.v132_779 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Public Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
