@media only screen and (min-width: 768px) {/* 768 */
    
     /* GRID */
	.medium-11 {width: 90%;}
	.medium-10 {width: 83.3333%;}
    .medium-9 {width: 75%;}
	.medium-8 {width: 66.66666%;}
	.medium-6 {width: 50%; }
    .medium-4 {width: 33.33333%;}
	.medium-3 {width: 25%;}
	.medium-2 {width: 16.6666%;}
	.medium-0 {width: 0%}
	
	.medium-2-img {flex: 16.6666%;}
	.medium-4-img{flex:33.33333%}
	.medium-6-img{flex:50%}
	.medium-8-img{flex:66.66666%}
	.medium-9-img{flex:75%; }
	.medium-10-img {flex: 83.3333%;}
	.medium-12-img{flex:100%; }
	
	.column-left-img{
	float: left;  
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 0 0;
}

.column-right-img{
	float: right;  
	padding-left: 0;
	padding-right: 0;
	margin: 0 0 0 0;
}
	
	.why-invest-med {
		background-image: url('../images/Why_invest.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
		height:60vw;
		border-radius: 10px 0px 0px 10px;
	}
	
	.why-fund-med {
		background-image: url('../images/Why_fundraise.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
		height:60vw;
		border-radius: 0px 10px 10px 0px;
	}
	
	.header-img-med {
		background-image: url('../images/Header_image_2.jpg');
		background-repeat: no-repeat; 
		background-size: cover;
		height:30vw;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: none;
	}

	
	.img-resize img {
    width: 100%;
	vertical-align: bottom;
}
	
	.center-align-small {text-align: left}
	
	.column-no-left-pad {
	float: left;  
	padding-left: 0;
	padding-right: 5vw;
	margin: 0 0 0 0;
}
	
.column-no-right-pad {
	float: left;  
	padding-left: 5vw;
	padding-right: 0;
	margin: 0 0 0 0;
}
	

	.img-small-remove{
		display: flex;
	}
	
	.img-medium-remove{
		display: none;	
	}
	
	.img-txt-container-header {
		display: flex;
		align-items: center;
		justify-content:center;
		flex-direction: row;
		padding-left:0;
		padding-right: 0;
		height:50vw;
	}
	
	.img-social img {
		height: 20px;
		width: 20px;
		margin-left:30px;
	}
	
	.img-container-social-small{
		display: none;
	}
	
	.img-container-social-medium {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	
	.img-container-logo-small {
	  display: none;
	}	
	
	.img-container-logo-medium {
		display: flex;
		justify-content: center;
		padding-top: 6vw;
		padding-bottom: 6vw;
	}	
	
	.img-txt-container {
		display: flex;
		align-items: center;
		justify-content: start;
		flex-direction: row;
	}
	
	.img-txt-container-medium {
		display: flex;
		align-items: center;
		flex-direction: row;
		padding-left:0;
		padding-right: 0;
		padding-top: 5vw;
		padding-bottom: 2vw;
		margin: 0 0 0 0;
	}
	
	.container-geo {
		display: flex;
		align-items: center;
		justify-content: left;
		flex-direction: row;
		padding-top:25px;
		padding-bottom:50px;
		padding-left:3vw;
	}


	header{
		font-size: 24px;
		font-weight: 700;
		background-image: url('../images/Header_background.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;  
		background-size: cover;
		color: #FFFFFF;
		height:60vw;
		-webkit-border-radius: 0px 0px 50px 0px;
		-moz-border-radius: 0px 0px 50px 0px;
		border-radius: 0px 0px 50px 0px;
		border: none;
	}


	main h1{
		font-size: 48px;
		line-height: 86px;
		font-weight:700;
	}
	
	main h2{
		font-size: 36px;
		line-height: 64px;
		font-weight:700;
	}
	
	.logo-header { 
	padding-left: 5vw;
	padding-right: 0vw;
	margin: 0 0 0 0;
}
	
	.button-syle{
	color:#FB7161;
	font-size: 14px;
	line-height:21px;
	font-weight:400;
	background:none;
	padding: 20px 40px;
	border-radius: 10px;
	border: 1.5px solid #FB7161;
	display: block;
	float:left;
	}
	
	.button-syle-2{
	text-align: center;
	color:#FB7161;
	font-size: 14px;
	line-height:21px;
	font-weight:400;
	background:none;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 10px;
	border: 1.5px solid #FB7161;
	display: block;
	float:center;
	width:14vw;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 5vw;
	}
	
	.contact-button-syle{
    text-align: center;
	color:#FB7161;
	background:none;
	border-radius: 10px;
	border: 1.5px solid #FB7161;
	margin:0;
	width:15vw;
	padding-top: 20px;
	padding-bottom:20px;
	padding-left:2vw;
	padding-right:2vw;
	margin-left:auto;
	margin-right:auto;
	}
	
	.list-pad{
	text-align: center;
	background:none;
	padding-top: 20px;
	padding-bottom: 20px;
	margin:0;
	}
	
	nav button {display: none;}
	
	nav a {
    display: block;
    padding: .8rem 0; 
    color: #fff;
    text-align: center;
    text-decoration: none;
	width:16vw;
	height: auto;
	}
	
    nav ul {display: block;}
    nav li {width: 25%; float: left; }
	nav li {}
	nav li.active {background-color: rgba(0,0,0,0);}
	nav a:hover {}
	.hover-1:hover {text-decoration:underline;background-color: rgba(255,255,255,0.0);}
	.hover-2:hover {background-color: rgba(255,255,255,0.0);}


/* slider */
.slidecontainer {
  position: relative;
  width: 90%; /* Width of the outside container */
}

} /* end of media query */