@media only screen and (min-width: 768px) {/* TODO: CHANGE BACK TO 768 */
    
     /* GRID */
    .medium-6 {width: 50%;}
    .medium-4 {width: 33.33333%;}
	
	.medium-4-img{flex:33.33333%}
	.medium-6-img{flex:50%}
	.medium-8-img{flex:66.66666%}
	
	.center-align-small {text-align: none}
	
	.img-small-remove{
		display: flex;
	}
	
	.img-medium-remove{
		display: none;	
	}
	
	.right-align-img-small{
		float:none;
	}
	
	.img-container-social-small{
		display: none;
	}
	
	.img-container-social-medium {
		display: flex;
		justify-content: space-between;
		height:150px;
		padding-top: 70px;
	}
	
	.img-txt-container-medium {
		display: flex;
		align-items: center;
		flex-direction: row;
	}


	header{
		font-size: 24px;
		font-weight: 700;
		background-image: url('../images/Header_background.png');
		background-repeat: no-repeat;
		background-attachment: fixed;  
		background-size: cover;
		color: #FFFFFF;
		height:840px;
	}


	main h1{
		font-size: 48px;
		line-height: 86px;
		font-weight:700;
	}
	
	main h2{
		font-size: 36px;
		line-height: 64px;
		font-weight:700;
	}
	
	nav button {display: none;}
    nav ul {display: block;}
    nav li {width: 25%; float: left;}
	nav li.active {background-color: rgba(0,0,0,0);}


} /* end of media query */