<div class=e269_71>
  <div class=e269_72>
    <div class=e269_73>
      <div  class="e269_74">

      </div>
      <div  class="e269_75">

      </div>
      <div  class="e269_76">

      </div><div  class="e269_77">

      </div><div  class="e269_78">

      </div>
    </div>
    <div class=e269_79>
      <div  class="e269_80">

      </div>
      <div  class="e269_81">

      </div>
    </div>
    <div class=e269_82>
      <div  class="e269_83">

      </div>
      <div class="e269_84">

      </div>
    </div>
  </div>
  <div class=e269_85>
    <div  class="e269_86">

    </div>
    <span  class="e269_87">Copyright © 2021</span>
    <div  class="e269_88"></div>
    <div class=e269_89>
      <div class=e269_90>
        <div class=e269_91>
          <div  class="e269_92">

          </div>
        </div>
        <div class=e269_93>
          <div  class="e269_94">

          </div>
        </div>
        <div class=e269_95>
          <div  class="e269_96">

          </div>
          <div  class="e269_97">

          </div>
          <div  class="e269_98">

          </div>
        </div>
      </div>
      <div class=e269_99>
        <span  class="e269_100">Home</span>
        <span  class="e269_101">About Us</span>
        <span  class="e269_102">Why Invest?</span>
        <span  class="e269_103">Why Fundraise?</span>
      </div>
      <div class=e269_104>
        <div  class="e269_105"></div>
        <div class=e269_106>
          <div class=e269_107>
            <div  class="e269_108"></div>
            <div  class="e269_109"></div>
            <div  class="e269_110"></div>
            <div  class="e269_111"></div>
          </div></div>
        </div></div>
      </div>
      <div class=e269_112>
        <div  class="e269_113"></div>
        <div class=e269_114>
          <span  class="e269_115">Traditionally, only investors with deep pockets could invest in private biotech companies on the cutting-edge of medical technology seeking to bring transformative cures to diseases with unmet medical needs.  Our platform leverages recently passed SEC regulations, opening up such investment opportunities and allowing any investor to purchase equity directly in early-stage biotech companies.</span>
        </div>
        <div class=e269_116>
          <span  class="e269_117">The Biotech Collective is a modern investment platform that enables all investors to invest in early-stage biotech companies.</span>
          <span  class="e269_118">About Us</span>
        </div>
      </div>
      <div class=e269_119>
        <div  class="e269_120"></div>
        <div  class="e269_121"></div>
        <span  class="e269_122">Why Fundraise?</span>
        <div class=e269_123>
          <span  class="ei269_123_1_3">For businesses</span>
        </div>
        <div class=e269_124>
          <div class=e269_125>
            <div class=e269_126>
              <div class=e269_127>
                <div  class="e269_128">

                </div>
              </div>
            </div>
            <span  class="e269_129">The only upfront payment to fundraise is your own time. You pay our fees only when you successfully hit your fundraising target.</span>
        </div>
        <div class=e269_130>
          <div class=e269_131>
            <div  class="e269_132">

            </div>
            <div  class="e269_133"></div>
          </div>
          <span  class="e269_134">Access to the aggregated capital of private investors from the U.S. and around the world</span>
        </div>
        <div class=e269_135>
          <div class=e269_136>
            <div class=e269_137>
              <div  class="e269_138">

              </div>
            </div>
          </div>
          <span  class="e269_139">Skip pitching to VCs and raise up to $5 million from individual investors every year</span>
        </div>
        <div class=e269_140>
          <div class=e269_141>
            <div  class="e269_142">

            </div>
            <div  class="e269_143">

            </div>
            <div  class="e269_144">

            </div>
          </div>
          <span  class="e269_145">Be the CEO. The Biotech Collective imposes no management decisions on your company.</span>
        </div>
      </div>
    </div>
    <div class=e269_146>
      <div  class="e269_147">

      </div>
      <div class=e269_148>
        <div class=e269_149>
          <div class=e269_150>
            <div class=e269_151>
              <div  class="e269_152">

              </div>
              <div  class="e269_153">

              </div>
            </div>
          </div>
          <span  class="e269_154">Diversify your investment portfolio into private biotech companies</span>
        </div>
        <div class=e269_155>
          <div class=e269_156>
            <div class=e269_157>
              <div  class="e269_158">

              </div>
            </div>
          </div>
          <span  class="e269_159">Commission-free investing and only $100 to get started</span>
        </div>
        <div class=e269_160>
          <div class=e269_161>
            <div  class="e269_162">

            </div>
            <div class=e269_163>
              <div  class="e269_164">

              </div>
              <div  class="e269_165">

              </div>
            </div>
          </div>
          <span  class="e269_166">Connect and chat directly with company founders and executives</span>
        </div>
        <div class=e269_167>
          <div class=e269_168>
            <div class=e269_169>
              <div  class="e269_170">

              </div>
            </div>
          </div>
          <span  class="e269_171">Get informed about the biotech ecosystem</span>
        </div>
        <div class=e269_172>
          <div class=e269_173>
            <div  class="e269_174">

            </div>
          </div>
          <span  class="e269_175">Contribute to cutting-edge biomedical technology</span>
        </div>
        <div class=e269_176>
          <div class=e269_177>
            <div class=e269_178>
              <div  class="e269_179">

              </div>
            </div>
          </div>
          <span  class="e269_180">Help be a part of curing diseases with unmet medical needs</span>
        </div>
      </div>
      <span  class="e269_181">Why Invest?</span>
      <div class=e269_182>
        <span  class="ei269_182_1_3">For investors</span>
      </div>
    </div>
    <div class=e269_183>
      <div class=e269_184>
        <div class=e269_185>
          <div  class="e269_186">

          </div>
          <div  class="e269_187">

          </div>
        </div>
      </div>
      <span  class="e269_188">Anyone should be able to invest in biotech.  Every life-changing idea deserves funding.
Own a stake in early-stage biotech companies, pre-IPO.</span>
<div class=e269_189>
  <div  class="e269_190">

  </div>
  <div class=e269_191>
    <div  class="e269_192">

    </div>
    <div class=e269_193>
      <div class=e269_194>
        <div  class="e269_195">

        </div>
        <div  class="e269_196">

        </div><div  class="e269_197">

        </div>
        <div  class="e269_198">

        </div>
      </div>
    </div>
  </div>
  <div class=e269_199>
    <div class=e269_200>
      <div class=e269_201>
        <span  class="e269_202">About Us</span>
      </div>
      <div class=e269_205>
        <span  class="e269_206">Why Invest?</span>
      </div>
      <div class=e269_209>
        <span  class="e269_210">Why Fundraise?</span>
      </div>
    </div>
  </div>
  <div class=e269_213>
    <span  class="ei269_213_1_3">Contact Us</span>
  </div>
</div>
<div class=e269_214>
  <div class=e269_215>
    <div  class="e269_216"></div>
  </div>
</div>
</div>
<div class=e269_217>
  <div class=e269_218>
    <span  class="ei269_218_1_35">Send Message</span>
  </div>
  <div class=e269_219>
    <span  class="e269_220">Messages</span>
    <div class=e269_221>
      <div  class="e269_222"></div>
      <span  class="e269_223">Write your messages in here</span>
    </div>
  </div>
  <div class=e269_224>
    <span  class="e269_225">Email Address</span>
    <div class=e269_226>
      <div  class="e269_227">

      </div>
      <span  class="e269_228">Input your email address in here</span>
    </div>
  </div>
  <span  class="e269_229">For Businesses</span>
  <div class=e269_230>
    <span  class="e269_231">For Investors</span>
    <div  class="e269_232">

    </div>
  </div>
  <span  class="e269_233">How much do you want to invest?</span>
  <span  class="e269_234">Get in touch:</span>
  <div class=e269_235>
    <div class=e269_236>
      <div class=e269_238>
        <div class=e269_239>
          <div  class="e269_240">

          </div>
        </div>
        <div class=e269_241>
          <div  class="e269_242">

          </div>
        </div>
        <div class=e269_243><div  class="e269_244">

        </div>
      </div>
      <div class=e269_245>
        <div  class="e269_246">

        </div>
      </div>
    </div>
    <div  class="e269_247">

    </div>
    <div  class="e269_248">

    </div>
    <div class=e269_249>
      <div class=e269_250>
        <div class=e269_251>
          <div  class="e269_252">

          </div>
        </div>
        <div class=e269_253>
          <div  class="e269_254">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=e269_256>
    <div class=e269_257>
      <span  class="e269_258">0</span>
    </div>
    <div class=e269_259>
      <span  class="e269_260">$500</span>
    </div>
    <div class=e269_261>
      <span  class="e269_262">$3000</span>
    </div>
    <div class=e269_263>
      <span  class="e269_264">$1000</span>
    </div>
  </div>
</div>
</div>
</div>
